* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  background: #F5F7FB;
}

.start-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.quizzical {
  color: #293264;
  font-family: 'Karla';
  margin-bottom: 1px;
}

.start-btn {
  background: #4D5B9E;
  color: white;
  border: none;
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px 62px;
  cursor: pointer;
}

.some-desc {
  color: #293264;
}


/* QUESTIONS */
.ques-pg {
  /* border: solid; */
  margin: 40px 60px;
  text-align: left;
}

.ques-ans {
  color: #293264;
  /* border: solid; */
  font-size: x-large;

}

.ques-ans>p {
  font-weight: bold;
  color: #293264;
}

.opt-btn {
  margin: 5px 5px;
  color: #293264;
  font-weight: 600;
  border: 1px solid #293264;
  border-radius: 10px;
  font-size: 16px;
  background: transparent;
  padding: 5px 20px;
  cursor: pointer;
}

.opt-div {
  /* border: solid; */
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

hr {
  margin: 15px auto;
}

.score-div {
  /* border: solid; */
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #293264;
  ;
}

.check-ans-btn {
  font-size: 16px;
  background: #4D5B9E;
  color: white;
  padding: 15px 35px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}